.footer-container{
    width :100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: black;
}

.footer-container footer{
    color: white;
    line-height: 50px;
    text-align: center;
}